{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
        </div>
        <div class="media" style="display:flex">
            <div class="media-photo">
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" class="mr-3" width="350" alt="Photo">
                {% else %}
                    <h6>Изображения нет</h6>
                {% endif %}
            </div>
            <div class="media-body">
                <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}">{{ object.title }}</h5>
                <p class="card-text">{{ object.content }}</p>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ object.created_at|date:'Y-m-d H:i' }}
        </div>
    </div>

    {% if object.comments.count %}
        <h4>Комментарии</h4>
        {% for comment in object.comments.all %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ comment.author }} написал {{ comment.created_at|date:'Y-m-d H:i' }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <h4>Добавить комментарий</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}
